
.destop-library{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #fff;
  }
  
  .destop-library-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 40px;
    padding-bottom: 40px;
    grid-gap: 20px;
  }
  
  .destop-library-container{
    height: 300px;
    width: 308px; 
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.040);
  }

  @keyframes destop-library-container {
    20% {
      transform: translateX(4px);
    }
    40% {
      transform: translateX(-4px);
    }
    60% {
      transform: translateX(2px);
    }
    80% {
      transform: translateX(-1px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .destop-library-container:hover{
    transition: 50ms;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0 4px 8px 0 rgba(0, 105, 210, 0.2), 0 6px 20px 0 rgba(0, 105, 210, 0.19);
    cursor: pointer;
    border-radius:0px 0px 50px 50px;
    animation: destop-library-container 1s ease;
    animation-iteration-count: 1;
  }
  
  .destop-library-container .main-iamge-container img{
    width: 100%;
    height: 164px;
    border-radius: 5px 5px 0px 0px;
  }
  
  .body-container{
    display: grid;
    grid-template-areas: "left right";
    grid-gap: 20px;
    padding-left: 10px;
    
  }
  .left-body-container{
    display: grid;
    grid-area: left;
    justify-content: left;
  }
  
  .left-body-container h6{
    overflow-wrap: break-word;
    max-width: 210px;
    font-size: 16px;
    font-weight: 400;
  }
  
  .left-body-container h5{
    color: #0069D2;
    font-size: 14px;
    font-weight: 450;
    padding-top: 15px;
  }
  .left-body-container .icon-image{
    margin-top: 10px;
  }
  
  
  .left-body-container .icon-image img{
    width: 13px;
    height: 13px;
    margin-right: 5px;
  }
  
  .left-body-container .icon-image span{
    font-size: 10px;
    padding-right: 10px;
  }
  
  .right-body-container{
    grid-area: right;
    display: grid;
    justify-content: end;
    padding-right: 10px;
  }
  
  .right-body-container img{
    width: 45px;
    height: 45px;
    border-radius: 5px;
  }

@media only screen and (max-width: 1440px){
  .destop-library{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #fff;
    width: 100vw;
  }

  .destop-library-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 40px;
    padding-bottom: 40px;
    grid-gap: 20px;
  }

  .destop-library-container{
    height: 250px;
    width: 258px; 
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.040);
  }
  
  .destop-library-container .main-iamge-container img{
    width: 100%;
    height: 150px;
    border-radius: 5px 5px 0px 0px;
  }
  
  .body-container{
    display: grid;
    grid-template-areas: "left right";
    grid-gap: 20px;
    padding-left: 10px;
    
  }
  .left-body-container{
    display: grid;
    grid-area: left;
    justify-content: left;
  }
  
  .left-body-container h6{
    overflow-wrap: break-word;
    max-width: 210px;
    font-size: 12px;
    font-weight: 400;
  }
  
  .left-body-container h5{
    color: #0069D2;
    font-size: 10px;
    font-weight: 450;
    padding-top: 10px;
  }
  .left-body-container .icon-image{
    margin-top: 10px;
  }
  
  
  .left-body-container .icon-image img{
    width: 13px;
    height: 13px;
    margin-right: 5px;
  }
  
  .left-body-container .icon-image span{
    font-size: 10px;
    padding-right: 10px;
  }
  
  .right-body-container{
    grid-area: right;
    display: grid;
    justify-content: end;
    padding-right: 10px;
  }
  
  .right-body-container img{
    width: 45px;
    height: 45px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 1200px){
  .destop-library{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #fff;
    width: 100vw;
  }

  .destop-library-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 40px;
    padding-bottom: 40px;
    grid-gap: 20px;
  }
}
@media only screen and (max-width: 810px){
  .destop-library{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #fff;
    width: 100vw;
  }

    
.destop-library-wrapper{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding-top: 40px;
  padding-bottom: 40px;
  grid-gap: 20px;
}

.destop-library-container{
  height: 300px;
  width: 308px; 
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.040);
}
}

@media only screen and (max-width: 765px){
  .destop-library{
      display: grid;
      justify-items: center;
      align-items: center;
      background-color: #fff;
      width: 100vw;
    }

      
  .destop-library-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 40px;
    padding-bottom: 40px;
    grid-gap: 20px;
  }
  
  .destop-library-container{
    height: 300px;
    width: 308px; 
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.040);
  }
}

@media screen and (max-width: 650px){
  .destop-library{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100vw;
  }

    
  .destop-library-wrapper{
    grid-template-columns: repeat(1,1fr);
    padding-top: 40px;
    padding-bottom: 40px;
    grid-gap: 20px;
  }

  .destop-library-container{
    height: 300px;
    width: 308px; 
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.040);
  }

}