.hero-container{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: minmax(60px,auto);
    background-image: url(../../assets/images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 910px;
    width: 100vw;
  }

.hero-wrapper{
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: rgba(0,0,0,0.50);
  height: 910px;
  width: 100%;
}
  
.hero-container-content{
  display: grid;
  max-width: 950px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.hero-container-content h1{
  font-size: 72px;
  max-width: 910px;
  overflow-wrap: break-word;
  margin-bottom: 30px;

}

.hero-container-content button{
  display: grid;
  justify-self: center;
  align-items: center;
  color: white;
  background-color: #0069D2;
  border: none;
  border-radius: 5px;
  width: 400px;
  height: 60px;
}

.hero-container-content button:hover{
  cursor: pointer;
}

@media only screen and (max-width: 1440px){
  .hero-container{
    display: grid;
    background-size: cover;
    height: 810px;
    width: 100vw;
    
  }

.hero-wrapper{
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: rgba(0,0,0,0.50);
  height: 810px;
  width: 100%;
}

.hero-container-content h1{
  font-size: 52px;
  max-width: 910px;
  margin-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.hero-container-content button{
  border-radius: 5px;
  width: 200px;
  height: 40px;
}
}

@media only screen and (max-width: 765px){
  .hero-container{
    grid-template-rows: minmax(60px,auto);
    height: 410px;
    width: 100vw;
    font-size: 12px;
    background-size: center;
  }

  .hero-wrapper{
    background-color: rgba(0,0,0,0.50);
    height: 410px;
    width: 100vw;
  }
  
.hero-container-content h1{
  font-size: 42px;
  max-width: 910px;
  margin-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.hero-container-content button{
  border-radius: 5px;
  width: 200px;
  height: 40px;
}

}

@media screen and (max-width: 500px){
.hero-container{
    grid-template-rows: minmax(60px,auto);
    height: 310px;
    width: 100vw;
    font-size: 10px;
    background-size: center;
  }

.hero-wrapper{
    background-color: rgba(0,0,0,0.50);
    height: 310px;
    width: 100vw;
  }
  
.hero-container-content h1{
  font-size: 22px;
  max-width: 910px;
  margin-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.hero-container-content button{
  border-radius: 5px;
  width: 150px;
  height: 30px;
  font-size:12px ;
}

}