.product-nav{
    height: 46px;
    border-bottom:1px solid rgba(199, 196, 196, 0.63)!important;
    width: 100vw;
  }
  
.product-nav div{
    color: #2E3134;
    border-right: 1px solid rgba(177, 175, 175, 0.651)!important;
    height: 45px;
    padding-left: 50px;
    padding-right: 50px;
    float: left;
    text-align: center;
}

.product-nav div:hover{
    cursor: pointer;
}
@media only screen and (max-width: 1440px){
    .product-nav{
        height: 46px;
        border-bottom:1px solid rgba(199, 196, 196, 0.63)!important;
        width: 100vw;
      }
      
    .product-nav div{
        color: #2E3134;
        border-right: 1px solid rgba(177, 175, 175, 0.651)!important;
        height: 45px;
        padding-left: 50px;
        padding-right: 50px;
        float: left;
        text-align: center;
    }
    
    .product-nav div:hover{
        cursor: pointer;
    }
}

@media only screen and (max-width: 765px){
    .product-nav{
        height: 45px;
        width: 100vw;
        display: none;
      }
      
    .product-nav div{
        font-size: 12px;
        height: 45px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 500px){
    
}