.main-nav{
  display: grid;
  height: 72px;
  grid-template-columns: 1fr;
  width: 100vw;
}
.main-nav-wrapper{
  display: grid;
  grid-template-columns: 480px 1fr 480px ;
  grid-gap: 10px;
  height: 72px;
  width: 100%;
}

.main-nav-wrapper div{
  height: 72px;
}
  
.main-nav-container1{
  display: grid;
  justify-content: start;
  align-items: center;
  margin-left: 20px;
}

.main-nav-container1 img:hover{
  cursor: pointer;
}

.main-nav-container2{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: start;
  align-items: center;
  padding-right: 100px;
  padding-left: 100px;
}

.main-nav-container2 div{
  display: grid;
  height: 72px;
  justify-content: center;
  align-items: center;
}

.main-nav-container2 div:hover{
  cursor: pointer;
}

  
.main-nav-container3{
  display: grid;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
}

.main-nav-container3 button{
  width: 100px;
  height: 30px;
  background-color: #0069D2;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
}

.main-nav-container3 button:hover{
  cursor: pointer;
  transition-delay: 50ms;
  box-shadow: 0 4px 8px 0 rgba(0, 105, 210, 0.2), 0 6px 20px 0 rgba(0, 105, 210, 0.040);
}

.nav-list{
  display: none;
}
.ifit-logo{
  display: none;
}

@media only screen and (max-width: 1440px){
  .main-nav{
    display: grid;
    height: 72px;
    grid-template-columns: 1fr;
    width: 100vw;

  }
  .main-nav-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
  }
  
  .main-nav-wrapper div{
    height: 72px;
  }
    
  .main-nav-container1{
    display: grid;
    margin-left: 10px;
  }
  .main-nav-container1 img{
    width: 150px;
  }
  
  .main-nav-container2{
    grid-template-columns: repeat(4,1fr);
  }
  
  .main-nav-container2 div{
    display: grid;
    height: 42px;
    grid-gap: 20px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 15px;
  }
  
    
  .main-nav-container3{
    display: grid;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
  }
  
  .nav-list{
    display: none;
  }
  .ifit-logo{
    display: none;
  }
}



@media only screen and (max-width: 765px){

  .main-nav{
    display: grid;
    height: 122px;
    grid-template-columns: 1fr;
    width: 100vw;
  }
  .main-nav-wrapper{
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 10px;
    height: 72px;
   
  }
  
  .main-nav-wrapper div{
    height: 72px;
  }

  .ifit-logo{
    width: 100vw;
    height: 50px;
    display: grid;
    justify-content: center;
  }

  .ifit-logo img{
    height: 50px;
    width: 200px;
  }
    
  .main-nav-container1{
    display: none;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
  }
  
  .main-nav-container2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: start;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
  }
  
  .main-nav-container2 div{
    display: grid;
    height: 72px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .main-nav-container2 div:hover{
    cursor: pointer;
  }
  
    
  .main-nav-container3{
    display: none;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
  }
  
  .main-nav-container3 button{
    width: 100px;
    height: 30px;
    background-color: #0069D2;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
  }
  

}

@media screen and (max-width: 500px){
  .main-nav{
    display: grid;
    height: 122px;
    grid-template-columns: 1fr;
    width: 100vw;
  }
  .main-nav-wrapper{
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 10px;
    height: 72px;
   
  }
  
  .main-nav-wrapper div{
    height: 72px;
  }

  .ifit-logo{
    width: 100vw;
    height: 50px;
    display: grid;
    justify-content: center;
  }

  .ifit-logo img{
    height: 50px;
    width: 200px;
  }
    
  .main-nav-container1{
    display: none;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
  }
  
  .main-nav-container2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: start;
    align-items: center;
    font-size: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .main-nav-container2 div{
    display: grid;
    height: 72px;
    justify-content: center;
    align-items: center;
  }
  
  .main-nav-container2 div:hover{
    cursor: pointer;
  }
  
    
  .main-nav-container3{
    display: none;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
  }
  
  .main-nav-container3 button{
    width: 100px;
    height: 30px;
    background-color: #0069D2;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
  }
}