
.footer{
    background-color: #2E3134;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
.footer-box1{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 50%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-box1 li{
  list-style: none;
  margin-top: 5px;
  font-size: 14px;
}

.footer-box2{
  display: grid;
  height: 76px;
  align-items: center;
  justify-items: center;
  border:solid 1px #707070!important;

}

.footer-box2-wrapper{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5,1fr);
}
.footer-box2 img{
  display: grid;
  justify-content: center;
  justify-items: center;
  height: 50px;
  width: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
}

.footer-box3{
  display: grid;
  grid-template-columns: 100px 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.footer-final-list{
  margin-left: -40px;
}
.footer-final-list ul li{
  list-style: none;
  float: left;
  margin-right: 50px;
}

.footer-box3 select{
  background-color: #2E3134;
  border: none;
  color: #fff;
  font-size: 15px;
  margin-left: 50px;
}

@media screen and (max-width: 1440px){
  .footer{
    background-color: #2E3134;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100vw;
  }
  
  .footer-box2 img{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;

  }
  .footer-box2-wrapper{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,1fr);
  }
}

@media only screen and (max-width: 765px){
    
  .footer{
    background-color: #2E3134;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100vw;
  }
  
  .footer-box2 img{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;

  }
  .footer-box2-wrapper{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,1fr);
  }

}

@media screen and (max-width: 500px){
        
  .footer{
    background-color: #2E3134;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100vw;
  }

  .footer-box2 img{
    height: 20px;
    width: 20px;
    margin-left: 0px;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer-box2-wrapper{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,1fr);
  }

  .footer-final-list ul li{
    list-style: none;
    float: none;
    padding: 5px;
    text-align: center;
  }

  .footer-final-list p{
    font-size: 12px;
  }
  .footer-box1 li{
    font-size: 10px;
  }
  .footer-box3 select{
    font-size: 10px;
  }
}
 