.main-slider{
    display: grid;
    height: 250px;
    justify-items: center;
    align-items: center;
    background-color: #F4F5F7;
  }
  
  .main-slider-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    overflow: auto;
    padding: 20px;
  }
  
  .main-slider-content{
    width: 440px;
    padding: 40px;
    grid-gap: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.040);
    background-color: #FFFF;
  }

  .main-slider-content:hover{
    transition-delay: 50ms;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
    cursor: pointer;
  }

  .main-slider-content img{
    margin-bottom: 10px;
    max-height:30px ;
    /* width: 100px; */
  }
  .main-slider-content p{
    margin-top: 0;
    color: #2E3134;
  }
  
@media only screen and (max-width: 1440px){
  .main-slider{
    display: grid;
    height: 250px;
    width: 100vw;

  }
  
  .main-slider-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-gap: 5px; */
    overflow: auto;
    overflow-block: hidden;
    width: 95vw;
  }
  
  .main-slider-content{
    width: 340px;
    padding: 30px;
    grid-gap: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #FFFF;
  }
  }

@media only screen and (max-width: 1200px){
  .main-slider-content{
    width: 300px;
    padding: 30px;
    grid-gap: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #FFFF;
  }

  .main-slider-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow: auto;
    /* grid-gap: 20px; */
    width: 95vw;
  }
}

@media only screen and (max-width: 1080px){
  .main-slider-content{
    width: 280px;
    padding: 30px;
    grid-gap: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #FFFF;
  }
  .main-slider-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow: auto;
    /* grid-gap: 20px; */
    width: 95vw;
  }
  
}

@media only screen and (max-width: 765px){
  .main-slider{
    height: 250px;
    background-color: rgb(22, 67, 155 65, 143);
    width: 100vw;
  }

  .main-slider-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow: auto;
    /* grid-gap: 20px; */
    width: 88vw;
  }
  
  .main-slider-content{
    width: 400px;
    grid-gap: 10px;
    text-align: center;
  }
  }

  @media screen and (max-width: 500px){
    .main-slider{
      height: 200px;
      background-color: #F4F5F7;
      width: 100vw;
    }

    .main-slider-wrapper{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      /* grid-gap: 20px; */
      overflow: auto;
      width: 89vw;
    }
    
    .main-slider-content{
      width: 300px;
      padding: 30px;
      grid-gap: 10px;
      text-align: center;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.040);
      background-color: #FFFF;
    }
  }