.equipment-visual{
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  text-align: center;
  width: 100vw;
}

.equipment-visual .equipment-visual-heading h4{
  font-weight: 400;
  font-size: 24px;
  color: #34383C;
  margin-bottom: 15px;
}

.equipment-visual-wrapper{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 30px;
  padding-bottom: 40px;
  align-items: center;
  justify-content: center;
}

.equipment-visual-content{
  border-radius: 5px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 400px;
  max-height: 400px;
}

.equipment-visual-content:hover{
  transition-delay: 100ms;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
  cursor: pointer;
}

.equipment-visual-content img{
  width: 200px;
  height: 250px;
  margin-bottom: 0;
}

.equipment-visual-content h4{
  font-weight: 400;
  margin-top: 0;
  font-size: 24px;
}

@media only screen and (max-width: 1440px){
  .equipment-visual{
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    text-align: center;
    width: 100vw;
  }
  .equipment-visual-content{
    border-radius: 5px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 250px;
    max-height: 250px;
  }

  .equipment-visual-content h4{
    font-size: 20px;
  }
  .equipment-visual-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
  }

  .equipment-visual-content img{
    width: 120px;
    height: 150px;
    margin-bottom: 0;
  }
  
}

@media only screen and (max-width: 765px){
  .equipment-visual{
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    text-align: center;
    width: 100vw;
  }
  .equipment-visual-content{
    border-radius: 5px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 400px;
    max-height: 400px;
  }
  .equipment-visual-wrapper{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
  }
    
  }

@media screen and (max-width: 500px){
  .equipment-visual{
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    text-align: center;
    width: 100vw;
  }
  .equipment-visual-content{
    border-radius: 5px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 400px;
    max-height: 400px;
  }
  .equipment-visual-wrapper{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
  }

  .equipment-visual .equipment-visual-heading h4{
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 15px;
  }
}