h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
.App {
  margin: 0;
  width: 99vw;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(46px,auto);
  background-color: #fff;
}

@media only screen and (max-width: 1440px){
  .App{
    margin: 0;
    width: 100vw;
  }
}

@media screen and (max-width: 765px){
    .APP{
      margin: 0;
      width: 100vw;
    }
}

@media screen and (max-width: 500px){
  .APP{
    margin: 0;
    width: 100vw;
  }
}