
.navbar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 46px;
    height: 46px;
  
    justify-content: center;
    align-items: center;
  
  }
  
  .navbar div{
    display: grid;
    border: 1px solid rgba(114, 114, 114, 0.63)!important;
    height: 46px;
    justify-content: center;
    align-items: center;
  }
  
  
  .nav-signup{
    display: grid;
    height: 46px;
    width: 1920px;
    justify-content: center;
    align-items: center;
    background-color: tomato;
  }
  .nav-signup-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  
  .nav-signup-wrapper div{
    display: grid;
    width: 1920px;
    /* border: solid 1px #2E3134!important ; */
  }
  .nav-signup-container1{
    display: grid;
    width: 200px;
  }
  .nav-signup-container2{
    display: grid;
    justify-items: center;
    align-items: center ;
    grid-template-columns: repeat(4,auto);
  }
  
  .nav-signup-container2 div{
    max-width: 100px;
  }
  
  .nav-signup-container3{
  
  }
  .header{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(60px,auto);
    background-image: url(./assets/4493158-hd-wallpapers-1080p.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 801px;
  
  }
  
  .header-content{
    display: grid;
    max-width: 950px;
    text-align: center;
    color: rgb(228, 226, 226);
  }
  
  .header-content h1{
    font-size: 72px;
    max-width: 910px;
    overflow-wrap: break-word;
    margin-bottom: 30px;
  
  }
  
  .header-content button{
    display: grid;
    justify-self: center;
    align-items: center;
    color: white;
    background-color: #0069D2;
    border: none;
    border-radius: 5px;
    width: 400px;
    height: 60px;
  }
  
  
  
  .top-scroll{
    display: grid;
    height: 300px;
    justify-items: center;
    align-items: center;
    background-color: #F4F5F7;
  }
  
  .top-scroll-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    /* overflow-y: hidden; */
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .top-scroll-content{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 200px;
    text-align: center;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.040);
  }
  
  .top-scroll-content:hover{
    transition-delay: 50ms;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
  }
  
  .top-scroll-content img{
    margin-bottom: 10px;
    max-height:30px ;
    width: 300px;
  }
  .top-scroll-content p{
    margin-top: 0;
    color: #2E3134;
  }
  
  .body{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #fff;
  }
  
  .body-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 40px;
    padding-bottom: 40px;
    grid-gap: 20px;
  }
  
  .body-content{
    height: 300px;
    width: 308px; 
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.040);
  }
  
  .body-content:hover{
    transition: 50ms;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
  }
  
  .body-content .top-image img{
    width: 100%;
    height: 164px;
    border-radius: 5px 5px 0px 0px;
  }
  
  .heading-image{
    display: grid;
    grid-template-areas: "left right";
    justify-content: center;
    grid-gap: 20px;
    
  }
  .left{
    grid-area: left;
  }
  
  .left h6{
    overflow-wrap: break-word;
    max-width: 210px;
    font-size: 16px;
    font-weight: 400;
  }
  
  .left h5{
    color: #0069D2;
    font-size: 14px;
    font-weight: 450;
  }
  .left .image{
    margin-top: 10px;
  }
  
  
  .left .image img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  
  .left .image span{
    font-size: 10px;
    padding-right: 10px;
  }
  
  .right{
    grid-area: right;
  }
  
  .right img{
    width: 45px;
    height: 45px;
    border-radius: 5px;
  }
  
  .next-grid{
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    text-align: center;
  }
  
  .next-grid .next-grid-heading h4{
    font-weight: 400;
    font-size: 24px;
    color: #34383C;
  }
  
  .next-grid-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* margin-top: 10px; */
    grid-gap: 30px;
  
    padding-bottom: 40px;
    align-items: center;
  }
  
  .next-grid-content{
    width: 400px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.040);
    border-radius: 5px;
  }
  
  .next-grid-content:hover{
    transition-delay: 50ms;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
  }
  
  .next-grid-content img{
    width: 200px;
    height: 250px;
    margin-bottom: 0;
  }
  
  .next-grid-content h4{
    font-weight: 400;
    margin-top: 0;
    font-size: 24px;
  }
  
  
  .footer{
    background-color: #2E3134;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .footer-box1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 50%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-box1 li{
    list-style: none;
    margin-top: 5px;
    font-size: 14px;
  }
  
  .footer-box2{
    display: grid;
    height: 76px;
    align-items: center;
    justify-items: center;
    border:solid 1px #707070!important;
  
  }
  
  .footer-box2-wrapper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
  }
  .footer-box2 img{
    display: grid;
    justify-content: center;
    justify-items: center;
    height: 50px;
    width: 50px;
    margin-left: 40px;
    border-radius: 30px;
  }
  
  .footer-box3{
    display: grid;
    grid-template-columns: 100px 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  
  .footer-final-list{
    margin-left: -40px;
  }
  .footer-final-list ul li{
    list-style: none;
    float: left;
    margin-right: 50px;
  }
  
  .footer-box3 select{
    background-color: #2E3134;
    border: none;
    color: #fff;
    font-size: 15px;
    margin-left: 50px;
  }